{{define "content"}}
<h1>ПР №3: Розрахунок електричних навантажень</h1>
<form method="POST">
    <div class="grid">
        <div class="input-panel">
            <h3>Вхідні дані</h3>
            <label>Номінальна потужність шліфувального верстату, кВт:
                <input name="p" type="number" step="0.01" value="29" required>
            </label>
            <label>Коефіцієнт використання полірувального верстату:
                <input name="k" type="number" step="0.01" value="0.31" required>
            </label>
            <label>Коефіцієнт реактивної потужності циркулярної пили:
                <input name="q" type="number" step="0.01" value="1.65" required>
            </label>
            <button type="submit">Розрахувати результати</button>
        </div>

        <div class="result-panel">
            <h3>Результати розрахунку</h3>
            {{if .HasResult}}
            <div class="result-box" style="font-size: 0.85rem; line-height: 1.5;">
                <p>1. Груповий КВ для ШР1=ШР2=ШР3: <b>{{printf "%.2f" (index .Res3 "grK")}}</b></p>
                <p>2. Ефективна кількість ЕП для ШР1=ШР2=ШР3: <b>{{index .Res3 "efecN"}}</b></p>
                <p>3. Розрахунковий коефіцієнт активної потужності: <b>{{printf "%.2f" (index .Res3 "actK")}}</b></p>
                <p>4. Розрахункове активне навантаження: <b>{{printf "%.2f" (index .Res3 "actP")}} кВт</b></p>
                <p>5. Розрахункове реактивне навантаження: <b>{{printf "%.2f" (index .Res3 "reactP")}} квар</b></p>
                <p>6. Повна потужність для ШР1=ШР2=ШР3: <b>{{printf "%.3f" (index .Res3 "fullP")}} кВ*А</b></p>
                <p>7. Розрахунковий груповий струм: <b>{{printf "%.2f" (index .Res3 "grI")}} А</b></p>
                <hr>
                <p>8. Коефіцієнт використання цеху в цілому: <b>{{printf "%.2f" (index .Res3 "useK")}}</b></p>
                <p>9. Ефективна кількість ЕП цеху в цілому: <b>{{index .Res3 "efecNAll"}}</b></p>
                <p>10. Розрахунковий КАП цеху в цілому: <b>{{printf "%.2f" (index .Res3 "actKAll")}}</b></p>
                <p>11. Розрахункове активне навантаження (шини 0,38 кВ): <b>{{printf "%.2f" (index .Res3 "actP038")}}
                        кВт</b></p>
                <p>12. Розрахункове реактивне навантаження (шини 0,38 кВ): <b>{{printf "%.2f" (index .Res3
                        "reactP038")}} квар</b></p>
                <p>13. Повна потужність на шинах 0,38 кВ ТП: <b>{{printf "%.3f" (index .Res3 "fullP038")}} кВ*А</b></p>
                <p>14. Розрахунковий груповий струм на шинах 0,38 кВ ТП: <b>{{printf "%.2f" (index .Res3 "grI038")}}
                        А</b></p>
            </div>
            {{else}}
            <p>Введіть дані та натисніть кнопку для розрахунку.</p>
            {{end}}
        </div>
    </div>
</form>
{{end}}